<a href="https://px.a8.net/svt/ejp?a8mat=EXAMPLE" rel="nofollow">
<img border="0" width="468" height="60" alt="" src="https://www21.a8.net/svt/bgt?aid=EXAMPLE"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=EXAMPLE" alt="">
